
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.logo img {
    width: 100px; 
    height: auto; 
}


.products {
    
    justify-content:center;
    padding: 20px;
    display: flex;

   
}

.product {

    text-align: center;
  
 
}

.product img {
    min-width: 75%;
    max-width: 75%;
}

.employees {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.employee {
    text-align: center;
    margin: 20px;
}

.employee img {
    max-width: 100%;
    height: auto;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}


@media (max-width: 768px) {
    header {
        padding: 10px;
    }
.navigation >div 
{
    display:none;

}
    .logo img {
        width: 80px; 
    }

    .Products, .employees {
        flex-direction: column;
        align-items: center;
    }

    .product, .employee {
        margin: 10px;
    }
    .About-section1{
flex-direction: column;
justify-content: center;
width: 75%;
    }
}

.navigation {
    color: aqua;
    display:flex;
  justify-content:space-around;
    flex-direction:row;
  }
  .navigation >div:hover {
    color: #fff;

 }
  .button
  {
  border:1px solid black;
  border-radius:10px;
  text-align:center;
  }
  .button:hover{
    background-color:#31BFC1;
  }
  .fa-solid fa-burger{
    color: aliceblue;
  }
  .About-section1{

    display: flex;
    justify-content: space-around;

  }
  h1{
    font-weight:bold ;
    color: #05797B;
  }